jobs:
  build:
    docker:
      - image: circleci/golang
    working_directory: /tmp/project
    steps:
      - attach_workspace:
          at: /tmp/project
      - run: go build -o code/server server.go
      - store_artifacts:
          path: code

  test:
    docker:
      - image: circleci/golang
    working_directory: /tmp/project
    steps:
      - checkout
      - run: mkdir -p /tmp/workspace
      - run: go test
      - persist_to_workspace:
          root: /tmp/project
          paths: 
            - ./

workflows:
  version: 2
  test-build:
    jobs:
      - test
      - build:
          requires:
            - test